body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: #fff;
}

canvas {
  display: block;
}

#chat {
  width: 300px;
  height: 800px;
  background-color: #1e1e1e;
  padding: 10px;
  overflow-y: auto;
}

#messages {
  height: 740px;
  overflow-y: auto;
}

#messageInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
